<div class="elective-subjects">
  <% elective_block.elective_blocks.delete_if {|block| elective_block.student_accepted?(student) && enrollments.none? {|enrollment| enrollment.block_id == block.id } }.sort.each do |block| %>
    <div class="row">
      <div class="col-md-13">
        <p>
          <%= [block.name, *("(#{block.modules.collect(&:name).sort.join(", ")})" if block.modules.present? )].join(" ") %>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <%=t :label_semester %>
          <%= block.modules.collect(&:semester_number).uniq.sort.join(", ") %>
        </p>
      </div>
    </div>
  <% end %>
</div>